body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titre{
    text-align: center;
}

#tableau {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin: auto;
  }

#tableau, th, td {
    border: 1px solid black;
}

.connecter{
    text-align: right;
}