body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titre{
    text-align: center;
}

#nmap {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
	margin-bottom: 20px;
  }

#nmap, th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	background-color: #f2f2f2;
}

.connecter{
    text-align: right;
}

table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }